@using Microsoft.AspNetCore.Http;
@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShikShaq</title>

    <link href="~/css/main.css" rel="stylesheet" type="text/css">
    <link href="~/css/navbar.css" rel="stylesheet" type="text/css">


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav id="navigation">
        <a href="#" class="logo">Shik Shaq</a>
        <ul class="links">
            <li class="dropdown"><a href="/games" class="trigger-drop">Scores</a></li>
            <li class="dropdown"><a href="/home/about" class="trigger-drop">About</a></li>
            <li class="dropdown">
                <a href="#" class="trigger-drop">Products<i class="arrow"></i></a>
                <ul class="drop">
                    <li><a href="#">All Products</a></li>
                    <li><a href="#">Find Product</a></li>
                </ul>
            </li>

            @{ string isAdmin = Context.Session.GetString("isUserAdmin"); }

            @if (isAdmin != null && isAdmin.Equals("Y") && User.Identity.IsAuthenticated && User.HasClaim(ClaimTypes.Role, "Admin"))
            {
                <li class="dropdown">
                    <a href="#" class="trigger-drop">Administration<i class="arrow"></i></a>
                    <ul class="drop">
                        <li><a href="/users">Manage Users</a></li>
                        <li><a href="/products">Manage Products</a></li>
                        <li><a href="/orders">Manage Orders</a></li>
                        <li><a href="/branches">Manage Branches</a></li>
                        <li><a href="/tags">Manage Tags</a></li>
                        <li><a asp-controller="Statistics" asp-action="Index" method="get">Statistics</a></li>
                    </ul>
                </li>
            }

            @{ int? userId = Context.Session.GetInt32("userId"); }

            @if (userId > 0)
            {
                <li class="dropdown">
                    <a href="#" class="trigger-drop">Account<i class="arrow"></i></a>
                    <ul class="drop">
                        <li><a href="/users/Details/@userId">My Details</a></li>
                        <li><a href="#">My Cart</a></li>
                        <li><a href="#">My Orders</a></li>
                        <li><a asp-controller="Account" asp-action="Logout" method="get">Logout</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li class="dropdown"><a asp-controller="Account" asp-action="Login" method="get" class="trigger-drop">Login</a></li>
            }



        </ul>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content" style="max-width:100%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - ShikShaq</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link href="~/lib/jquery-data/dist/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <script src="~/lib/jquery-data/dist/jquery.dataTables.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    @RenderSection("Styles", false)
</body>
</html>
