@using Microsoft.AspNetCore.Http;
@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShikShaq</title>
    <meta property="og:url" content="https://localhost:44318/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Just Ordered In Shik Shaq Sport Store!" />
    <meta property="og:description" content="If you want to be healty, come to Shik Shaq Store!" />
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Sport_balls.svg/400px-Sport_balls.svg.png" />

    <!-- Facebook Featchers -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/recommended-products.css" rel="stylesheet" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
  
    <nav class="topnav" id="myTopnav">
        <a asp-controller="Home" asp-action="Index" class="active">SHIK SHAQ</a>

        @{ int? userId = Context.Session.GetInt32("userId"); }

        @if (userId > 0)
        {
            <div class="dropdown">
                <button class="dropbtn">
                    Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/users/SimpleUserDetails/@userId" method="get">My Details</a>
                    <a asp-controller="Account" asp-action="Cart" method="get">My Cart</a>
                    <a asp-controller="Account" asp-action="Orders" method="get">My Orders</a>
                    <a asp-controller="Account" asp-action="Logout" method="get">Logout</a>
                </div>
            </div>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">Login</a>
        }

        @{ string isAdmin = Context.Session.GetString("isUserAdmin"); }

        @if (isAdmin != null && isAdmin.Equals("Y") && User.Identity.IsAuthenticated && User.HasClaim(ClaimTypes.Role, "Admin"))
        {
            <div class="dropdown">
                <button class="dropbtn">
                    Administration
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a asp-controller="Users" asp-action="Index" method="get">Manage Users</a>
                    <a asp-controller="Products" asp-action="Index" method="get">Manage Products</a>
                    <a asp-controller="ProductInBranches" asp-action="Index" method="get">Manage Products In Branches</a>
                    <a asp-controller="Orders" asp-action="Index" method="get">Manage Orders</a>
                    <a asp-controller="Branches" asp-action="Index" method="get">Manage Branches</a>
                    <a asp-controller="Tags" asp-action="Index" method="get">Manage Tags</a>
                    <a asp-controller="ProductTags" asp-action="Index" method="get">Manage Product Tags</a>
                    <a asp-controller="Statistics" asp-action="Index" method="get">Statistics</a>
                </div>
            </div>
        }

        <div class="dropdown">
            <button class="dropbtn">
                Products
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a asp-controller="Products" asp-action="Index" method="get">All Products</a>
                <a asp-controller="Products" asp-action="Index" method="get">Find Products</a>
                <a asp-controller="Statistics" asp-action="Index" method="get">Statistics</a>
            </div>
        </div>

        <a href="/games">Score</a>
        <a href="/home/about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </nav>

    <partial name="_CookieConsentPartial" />
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-9 body-content">
                @RenderBody()
            </div>
            <div class="col-sm-3">
                <partial name="/Views/Shared/RecommendedProductsPartial.cshtml" />
            </div>
        </div>
        <hr/>
        <footer>
            <p>&copy; 2020 - ShikShaq</p>
            <div id="fb-root"></div>

            <p>Like our facebook page: </p><div class="fb-like" data-href="https://www.facebook.com/ShikShaq-105204734579121" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="false"></div>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link href="~/lib/jquery-data/dist/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <script src="~/lib/jquery-data/dist/jquery.dataTables.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/recommendedProducts.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>



    @RenderSection("Scripts", required: false)

    @RenderSection("Styles", false)

    <script src="~/js/navbar.js"></script>
    <link href="~/css/navbar.css" rel="stylesheet" type="text/css">

</body>
</html>
