@{
    ViewData["Title"] = "Premier League Scores";
}
@section Scripts
{
    <link href="~/css/games-page.css" rel="stylesheet" type="text/css">
    <script src="~/js/games.js"></script>

}

<h3><b>@ViewData["Title"]</b></h3>
<div class="container-fluid">
    <div class="row">
        <div id="div_Loader" class="col d-flex align-items-center justify-content-center">
            <img class="resizable-image" src="@Url.Content("~/gif/loading.gif")" alt="loader" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="scoresTable" class="table table-striped table-bordered" style="width:100%">
            </table>
        </div>
    </div>
</div>
